#auth-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

#login-btn,
#register-btn,
#logout-btn {
    background-color: var(--red-bg);
    color: var(--font-wt);
    font-weight: 600;
    transition: all 0.4s ease-in-out;

}

#login-btn:hover {
    transform: scale(1.1);
}

#register-btn:hover {
    transform: scale(1.1);
}