.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-bg);
    transform: translateX(100%);
}

.footer-container.slide-in {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
    font-size: var(--font-size-md);
    
}

