.navbar {
    padding: 0;
}

.nav-container {
    transform: translateX(100%);
}

.nav-container.slide-in {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}

.navbar-container {
    background-color: var(--secondary-bg);
}

#img-wrapper {
    margin-bottom: 0;
    /* position: relative; */
    white-space: nowrap;
}

.greet {
    /* position: absolute;
    top: 10px;
    left: 6rem; */
    font-size: var(--font-size-md);
    color: var(--red-bg);
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
    overflow: hidden;
}

.nav-title {
    color: var(--font-wt);
}