#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

#btn #login-btn:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

#btn #signout-btn:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
#img-wrapper{

    margin-bottom: 0;
    position: relative;
}
#img-wrapper::after{
    content: 'BANANA';
    position: absolute;
    top: 10px;
    left: 6rem;
    font-size: 1.5rem;  
    color: var(--red-bg);
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
   
}

