.btn-answers {
  /* display: flex; */
  background-color: var(--secondary-bg);
  color: white;
  font-size: var(--font-size-md);
  transition: all 0.2s ease-in-out;
}

.btn-answers:hover {
  background-color: var(--banana-green-bg);
  color: var(--font-bl);
}

.back-next {
  background-color: var(--main-bg);
  color: var(--font-bl);
  font-weight: 600;
  font-size: var(--font-size-md);
  transition: all 0.2s ease-in-out;
}

.back-next:hover {
  background-color: var(--banana-green-bg);
  color: var(--font-wt);
}

.option-left {
  display: inline;
}

.option-right {
  display: inline;
  margin-left: 1%;
  /* margin: 0 auto; */
}