:root {

    /* COLORS */
    --banana-green-bg: #B9E3C6;
    --green-bg: #59C9A5;
    --main-bg: #FFFD98;
    --red-bg: #D81E5B;
    --secondary-bg: #23395B;

    /* FONTS */
    --counter-gr: #59C9A5;
    --counter-rd: #D81E5B;
    --font-bl: #000;
    --font-size-lg: 1.8rem;
    --font-size-md: 1.6rem;
    --font-size-sm: 1rem;
    --font-size-xl: 2.4rem;
    --font-wt: #fff;
}